*{
    margin: 0;
    padding: 0;
}
.UI{
    display: flex;
    flex-flow: column;
    align-items: center;
}
input{
    margin:20px;
    padding:10px;
}

.buttons{
    display: flex;
    width: 1000px;
    justify-content: space-evenly;
    align-items: center;
    
}
.buttons input{
    cursor: pointer;
    border: 0px;
}
.buttons input:hover{
    background-color: aqua;
    transition: 1000ms ease;
}
.inputArea {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
table{
    text-align: center;
    user-select: none;
    margin-top: 20px;
    width: 800px;
    border: 2px solid #000000;
    border-collapse: collapse;
}

th {
    background-color: dimgray;
} 
td{
    border: 2px solid #000000;
}
.read{
    display: none;
}
.radio{
    display: flex;
    flex-direction: column;
}
caption{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}
.test > .test_1 {
    padding: 10px;
    border: 1px solid black;
    font-size: 22px;
}
.container {
    width: 1000px;
    margin: 0 auto;
    height: 100vh;
}

